@keyframes handleOpactiy {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes blink {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}
@keyframes animateBubble {
	0% {
		opacity: 0;
		transform: translateY(0) scale(1);
	}
	100% {
		opacity: 1;
		transform: translateY(-100px) scale(1.2);
	}
}

.homeTopWrapper {
	display: flex;
	justify-content: space-around;
	width: 100%;
	padding: 10px;
	height: 2000px;
	position: relative;
	margin-top: 70px;
}
.homeTopLeftCards {
	width: 40%;
	height: 900px;
	background: linear-gradient(-225deg, transparent 15px, #92a69a 0);
	animation: handleOpactiy 1s ease-in-out;
	position: sticky;
	top: 80px;
}
.stickerWrapper {
	width: 100%;
	height: 100%;
	position: absolute;
}
.homeTopLeftSticker {
	position: absolute;
	width: 80px;
	height: 80px;
	background-color: black;
	border-radius: 50%;
	right: -35px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	top: 250px;
	cursor: pointer;
}
.homeTopLeftSticker > span {
	animation: blink 2s infinite; /* 1초 간격으로 깜빡이는 애니메이션 설정 */
}
.homeTopRightCards {
	width: 59%;
	display: flex;
	justify-content: flex-end;
	position: relative;
	height: 100%;
}

.homeTopRightCards > div:last-child {
	position: sticky;
	height: 900px;
	top: 80px;
}
.homeTopMiddleCards {
	width: 50%;
	background: linear-gradient(-45deg, transparent 15px, #f26430 0);
	z-index: -1;
}
.homeTopMiddleCards > .faqWrapper {
	position: relative;
	width: 100%; /* 이미지의 크기에 맞게 조절 */
	height: 100%; /* 이미지의 크기에 맞게 조절 */
	overflow: hidden;
	padding: 40px 20px;
}
.faqBubbleQuestion {
	position: relative;
	width: 335px;
	height: auto;
	padding: 20px;
	background: #ffffff;
	-webkit-border-radius: 36px;
	-moz-border-radius: 36px;
	border-radius: 36px;
	font-weight: 600;
	font-size: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 20px;
}

.faqBubbleQuestion:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	border-color: transparent #ffffff;
	display: block;
	width: 0;
	z-index: 1;
	left: -10px;
	top: 21px;
}

.faqBubbleAnswer {
	position: relative;
	width: 335px;
	height: auto;
	padding: 20px;
	background: #ffffff;
	-webkit-border-radius: 36px;
	-moz-border-radius: 36px;
	border-radius: 36px;
	font-weight: 600;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 40px 0;
	right: -100px;
}

.faqBubbleAnswer:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 0 15px 15px;
	border-color: transparent #ffffff;
	display: block;
	width: 0;
	z-index: 1;
	right: -13px;
	top: 42px;
}
