.loadingComponent {
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.loadingWrapper {
	width: 400px;
	height: 400px;
	color: white;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
	align-items: center;
}
.lottieDescription {
	font-size: 18px;
	color: white;
	font-weight: 500;
	white-space: pre-line;
	text-align: center;
	line-height: 2rem;
}
@media (max-width: 1050px) {
	.loadingWrapper {
		width: 240px;
		height: 240px;
		margin-bottom: 30px;
		align-items: center;
	}
}
@media (max-width: 600px) {
	.loadingWrapper {
		width: 200px;
		height: 200px;
		margin-bottom: 30px;
		align-items: center;
	}
}
@media screen and (min-width: 500px) and (max-width: 800px) and (orientation: landscape) {
	.loadingWrapper {
		width: 150px;
		height: 150px;
		margin-bottom: 30px;
		align-items: center;
	}
	.lottieDescription {
		font-size: 15px;
		color: white;
		font-weight: 500;
		white-space: pre-line;
		text-align: center;
		line-height: 2rem;
	}
}
@media (max-width: 320px) {
	.loadingWrapper {
		width: 150px;
		height: 150px;
		margin-bottom: 30px;
		align-items: center;
	}
	.lottieDescription {
		font-size: 14px;
		color: white;
		font-weight: 500;
		white-space: pre-line;
		text-align: center;
		line-height: 2rem;
	}
}
