.footerContainer {
	width: 100%;
	height: auto;
	min-height: 150px;
	padding: 30px;
	background-color: #eeeeee;
	font-size: 14px;
}
.footerWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
}
.footerHeadWrapper {
	margin-bottom: 10px;
}
.footerCopyRight {
	font-weight: bold;
}
.footerTitle {
	font-size: 22px;
	margin-bottom: 10px;
}

.snsWrapper {
	width: 100%;
	display: flex;
	height: 40px;
	align-items: center;
}

.snsWrapper > div {
	margin-right: 10px;
}
.snsYoutube {
	font-size: 20px;
	width: auto !important;
	height: 40px !important;
	color: red;
}
.snsInstagram {
	font-size: 20px;
	width: auto !important;
	height: 35px !important;
	background: #d6249f;
	color: white;
	border-radius: 10px;
	background: radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
}
