.headerContainer {
	width: 100vw;
	height: 70px;
	background-color: #0d0d0d;
	border-radius: 0px 0px 10px 10px;
	position: fixed;
	top: 0px;
	z-index: 9999;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.headerContents {
	color: white;
	font-size: 20px;
	font-weight: 700;
	cursor: pointer;
}
